body {
    background: rgb(0, 114, 114);
    margin: 0;
    padding: 0;
  }

  section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* HEADER */
  
  header {
    background-color: darkcyan;
    height: 120px;
    padding: 20px;
    text-align: center;
  }
  
  header a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 19px;
  }

  a:hover {
      text-decoration: underline;
  }
  
  header .logo a {
    background-image: url("logo.png");
    background-size: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    position: relative;
    text-indent: -9999999px;
    top: -50px;
    width: 150px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  /* FOOTER */
  
  footer {
    background: darkcyan;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 20px 20px;
    text-align: center;
  }
  
  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  footer li{
      display: inline-block;
  }

  footer  a {
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: relative;
    text-indent: -9999999px;
    top: -17px;
    width: 50px;
  }

  footer .github a {
    background-image: url("github_logo.png");
  }

  footer .twitter a {
    background-image: url("twitter_logo.png");
  }

  footer .mail p{
    background-image: url("mail_logo.png");
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: relative;
    text-indent: 60px;
    line-height: 50px;;
    width: 50px;
  }

  /* SECTION*/

  section h2{
    color:white;
    text-align: center;
  }

  section div.gallery{
    width:640px;
    height:400px;
    position: relative;
    left:50%;
    transform:translate(-50%);
    background-image:url('https://cdn02.nintendo-europe.com/media/images/06_screenshots/games_5/virtual_console_wii_u_3/wiiuvc_finalfantasytacticsadvance/WiiUVC_FinalFantasyTacticsAdvance_05.jpg');
    background-size: 640px 400px;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 14s infinite linear;
  } 

  @keyframes slider{
    0%{ background-image:url('https://cdn02.nintendo-europe.com/media/images/06_screenshots/games_5/virtual_console_wii_u_3/wiiuvc_finalfantasytacticsadvance/WiiUVC_FinalFantasyTacticsAdvance_05.jpg');
    background-size : 640px 400px; }
    33%{ background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2rOMKHp9_swVOq9aaxpuwZfrgUlOFEDKrveE3bANB6xiwbaKi');
    background-size : 640px 400px; }
    66%{ background-image: url('https://i.kinja-img.com/gawker-media/image/upload/s--5jKcnZeY--/c_scale,f_auto,fl_progressive,q_80,w_800/18ah62mtx9ajwjpg.jpg');
    background-size : 640px 400px; }
  }

section.game_description,section.team{
  background: rgb(64, 78, 138);
  color: whitesmoke;
  font-size: 18px;
  margin: 20px;
  margin-bottom: 0%;
  padding: 20px;
}

section h1.video_title{
  background: rgb(90, 110, 197);
  color: whitesmoke;
  font-size: 24px;
  margin: 0% 20px;
  padding: 25px 20px 15px 20px;
}

section div.videos{
  background: rgb(90, 110, 197);
  margin: 20px;
  margin-top:0%;
  padding: 5px 20px 20px 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section div.videos figure {
  margin: auto;
  padding: 5px;
  width: 200px;
}

section div.videos figure iframe {
  border: 1px solid white;
  box-shadow: gray 0 0 10px;
  width: 200px;
  height: 200px;
}

section ul.list-releases{
  padding-left: 0;
  margin: 20px 20%;
  font-family: sintony,Arial;
  color: black;
  background-color: rgb(195, 229, 240);;
}

section ul.list-releases li{
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 2px solid gray;
  min-height: 85px;
  font-size: 16px;
}

section ul li a, section div div a.download_link{
  text-decoration: none;
  background: rgb(78, 181, 216);
  color: white;
  padding: 3px 10px;
  font-size: 18px;
  line-height: 2;
  border-radius: 4px;
  float: right !important;
}

/* FEATURES */

section.members {
  font-size: 18px;
  background:rgb(195, 240, 255);
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 0%;
  padding: 20px;
}

section.members figure {
  margin: auto;
  padding: 30px;
  text-align: center;

  width: 200px;
}

section.members figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 200px;
}

figcaption{
  /*background: white;*/
  border-radius: 8px;
}

section.team{
  min-height: 300px;
  line-height: 1.5em;
}

section.team img {
  border: 1px solid white;
  border-radius: 2em;
  box-shadow: gray 0 0 10px;
  width: 400px;
  float: right;
  margin-left: 40px;
}

/* POP UP*/

#modal094:target,#modal093:target{
  opacity: 1;
  visibility: visible;
}

#modal094:target .popup,#modal093:target .popup{
  opacity: 1;
  visibility: visible;
}

.background{
  background-color: rgba(0,0,0, .8);
  width:100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.popup{
  min-width: 50%;
  min-height: 30%;
  width: auto;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 1em;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  line-height: 1.5em;
}

section div div h2{
  color: dodgerblue;
  margin-bottom: 1em;
  text-align: left;
}

.changelog_close{
  color: #363636;
  font-size: 2em;
  position: absolute;
  top: .5em;
  right: 1em;
}

section.member{
  background: lightblue;
  margin: 20px 20px 0 20px;
  padding: 2em 3em;

}

section.member h1{
  color: darkslateblue;
}

section.member img{
  width: 250px;
  height:300px;
  border: 1px solid white;
}

section.member ul{
  background: rgb(211, 238, 247);
  height: 27.5%;
  min-width: 50%;
  position: absolute;
  font-size: 1.5em;
  top: 10.5em;
  left: 14em;
  line-height: 3em;
  padding-top: 2em;
  padding-left: 2em;
}

section.work{
  background: rgb(131, 201, 224);
  margin: 5px 20px 20px 20px;
  padding: 2em;
  font-size: 18px;
}

section.work h2{
  font-size: 28px;
  text-align: left;
}
